@using Yaapii.Atoms.Text
@using Yaapii.Atoms.Map
@using Yaapii.Atoms.Enumerable

<div class="green quest" @onclick="ShowDetails">
    @if(@HasPicture)
    {
        <img class="image" src="@PictureUrl">
    }
    else
    {
        <div class="image"></div>
        <span class="oi icon-scroll-icon-29263"></span>
    }
    <div class="overlay"></div>
    <div class="time">Läuft ab in @TimeRemaining</div>
    <div class="title">@Title</div>
    <div class="icons">
        <div class="category">
            <span class="oi @CategoryIcon()"></span>
        </div>
        @if(NeedsLocation)
        {
            <div class="category">
                <span class="oi oi-map-marker"></span>
            </div>
        }
        @if(NeedsContact)
        {
            <div class="category">
                <span class="oi oi-phone"></span>
            </div>
        }
        @if (Status == "finished" || Status == "failed")
        {
            <div class="@Status">
                <span class="oi @StatusIcon()"></span>
            </div>
        }
    </div>
    <div class="reward" style="margin-bottom: 33px">
        <span class="icon-tribe-icon-37"></span>
        <a>@Reward</a>
    </div>
    <div class="reward">
        <span class="icon-award-icon-11"></span>
        <a>@Score</a>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Category { get; set; }
    [Parameter]
    public string Status { get; set; }
    [Parameter]
    public string Reward { get; set; }
    [Parameter]
    public string Score { get; set; }
    [Parameter]
    public string TimeRemaining { get; set; } = "-";
    [Parameter]
    public bool NeedsLocation { get; set; }
    [Parameter]
    public bool NeedsContact { get; set; }
    [Parameter]
    public bool HasPicture { get; set; }
    [Parameter]
    public string PictureUrl { get; set; }
    [Parameter]
    public EventCallback<string> Open { get; set; }

    private Task ShowDetails()
    {
        return Open.InvokeAsync(Id);
    }

    private string CategoryIcon()
    {
        return 
            new FallbackMap(
                new MapOf(
                    "solidarity", "icon-teamwork-icon-37",
                    "community", "icon-friends-icon-png-19",
                    "sustainability", "icon-sustainability-icon-3_1"
                ),
                key => "icon-scroll-icon-29263"
            )[Category];
    }

    private string StatusIcon()
    {
        return 
            new FallbackMap(
                new MapOf(
                    "finished", "oi-check",
                    "failed", "oi-x"
                ),
                key => "oi-timer"
            )[Status];
    }
}
