@using Yaapii.Atoms.Text
@using Yaapii.Atoms.Map

<div class="transactions container">
    @if (Transactions.Count == 0)
    {
        <h2>Bisher wurden keine Transaktionen getätigt...</h2>
    }
    else
    {
        <h2>Meine Transaktionen:</h2>
    }
    @foreach (var transaction in Transactions)
    {
        <div class="transaction">
            <h3>@transaction.Value("title")</h3>
            <p class="date">@DateTime.ParseExact(transaction.Value("date"), "dd/MM/yyyy H:mm:ss zzz", null).ToString("g")</p>
            @if (transaction.Value("type") == "give")
            {
                <div class="green line">
                    <span class="inner oi oi-chevron-left"></span>
                </div>
            }
            else
            {
                <div class="blue line">
                    <span class="inner oi oi-chevron-right"></span>
                </div>
            }
        <div class="actor left @TypeClass(transaction.Value("type"))">
            @if (transaction.Value("me.pictureUrl") == "")
            {
                <div class="preview">
                    <span class="oi oi-person"></span>
                </div>
            }
            else
            {
                <img src="data:image/png;base64,@transaction.Value("me.pictureUrl")">
            }
            <p class="name">@transaction.Value("me.name")</p>
            <p class="score">@(new DoubleOf(transaction.Value("me.level")).Value().ToString("F0"))</p>
        </div>
            <div class="amount">@(new DoubleOf(transaction.Value("amount")).Value().ToString("0.00"))</div>
            <div class="actor right @TypeClass(transaction.Value("type"))">
                @if (transaction.Value("other.pictureUrl") == "")
                {
                    <div class="preview">
                        <span class="oi oi-person"></span>
                    </div>
                }
                else
                {
                    <img src="data:image/png;base64,@transaction.Value("other.pictureUrl")">
                }
                <p class="name">@transaction.Value("other.name")</p>
                <p class="score">@(new DoubleOf(transaction.Value("other.level")).Value().ToString("F0"))</p>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public IList<IJSON> Transactions { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private string TypeClass(string type)
    {
        return
            new MapOf(
                "give", "green",
                "receive", "blue"
            )[type];
    }
}
